:root{
--Tomato: hsl(4, 100%, 67%);
--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--Charcoal-Grey);
    background-color: var(--Charcoal-Grey);
}
p{
    line-height: 1.5rem;
}
button{
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: var(--Dark-Slate-Grey);
    font-size: 17px;
    border: none;
}
button:hover{
    background-image: linear-gradient(90deg, rgba(218,64,117,1) 0%, rgba(255,98,87,1));
    cursor: pointer;
}

                     /*MAIN CONTAINER FORM*/

#main-container{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.main-container-text{
  padding-left: 6%;
}
#main-container h1{
    font-size: 2.5rem;
    margin: 10% 0 5% 0;
}
#main-container .check-list{
    display: flex;
    margin: 0 0 10% 0;
    padding: 3% 0;
}
#main-container .list-icon{
    margin-right: 2rem;    
}
#main-container small{
    color: var(--Tomato);
    font-weight: bold;
    position: absolute;
    left: 60%;
    display: none;
}
#main-container h2{
    font-size: 15px;
    margin-bottom: 10px;
}
#main-container .main-container-text input{
    width: 95%;
    padding: 20px;
    border-radius: 10px;
    border-color: lightgrey;
    font-size: 18px;
}
#main-container input:hover{
    border-color: var(--Grey);
    cursor: pointer;
}
#main-container ::placeholder{
    color: lightgray;
    opacity: 1;
}
#main-container button{
    margin: 7% 0 10% 0;
    width: 95%;
}
#main-container .desktop-image img{
    display: none;
}
#main-container .main-container-text.error input{
    background-color: rgb(250, 224, 224);
    border-color: var(--Tomato);
}
#main-container .main-container-text.error ::placeholder{
    color: var(--Tomato);
}

                  /*SUCCES CINTAINER*/
#succes-container{
    background-color: white;
    height: 100vh;
    padding: 5%;
    display: none;
}
#succes-container #succes-icon{
    margin: 50% 0 15% 0;
}
#succes-container h1{
    font-size: 2.75rem;
    margin-bottom: 10%;
}
#succes-container span{
    font-weight: bold;
} 
#succes-container button{
    width: 100%;
    margin: 80% 0;
}

@media(min-width: 500px){
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    button{
        padding: 16px;
    }
    /*MAIN CONTAINER*/

    #main-container #mobile-img{
        display: none;
    }
    #main-container .desktop-image img{
        display: block;
    }
    #main-container{
        display: flex;
        flex-direction: row;
        max-width: 900px;
        max-height: 700px;
        border-radius: 25px;
    }
    #main-container .desktop-image{
        margin: 2%;
    }
    #main-container h1{
        font-size: 3.5rem;
        margin: 20% 0 7% 0;
    }
    #main-container .check-list{
        margin: 5% 0;
        padding: 0;
    }
    #main-container small{
        left: 43%;
    }
    #main-container input{
        padding: 15px;
    }
    /*SUCCES CONATINER*/
    #succes-container{
        max-height: 470px;
        max-width: 450px;
        padding: 45px;
        border-radius: 20px;
    }
    #succes-container #succes-icon{
        margin: 0 0 20px 0;
    }
    #succes-container h1{
        font-size: 2.5rem;
        margin-bottom: 5%;
    }
    #succes-container button{
        width: 100%;
        margin: 10% 0 0 0;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }